<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wholesaler.name %>
</p>

<h2>Available Batches</h2>
<table>
  <thead>
    <tr>
      <th> Description</th>
      <th> Current highest </th>
      <th> Expiry </th>
    </tr>
  </thead>
   <tbody>
    <% @wholesaler.batches.each do |batch| %>
      <tr>
        <td><%= batch.description %></td>
        <td>
          <% if batch.highest_current_offer %>
            $<%= batch.highest_current_offer.amount %> - <%= batch.highest_current_offer.wholesaler.name%>
          <% else %>
            There are no current offers for this batch.
          <% end %>
        </td>
        <td><%= distance_of_time_in_words_to_now(batch.created_at + 7.days) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Edit', edit_wholesaler_path(@wholesaler) %> |
<%= link_to 'Back', wholesalers_path %>
