<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wholesaler.name %>
</p>

<h2>Available Batches</h2>
<table>
  <thead>
    <tr>
      <th> Description</th>
      <th> Amount </th>
      <th> Expiry </th>
    </tr>
  </thead>
   <tbody>
    <% @wholesaler.offers.each do |offer| %>
      <% unless offer.ignored %>
        <tr>
          <td><%= link_to offer.batch.description, edit_wholesaler_offer_path(offer.wholesaler, offer) %></td>
          <td>
            <%= offer.amount ? '$' + offer.amount.to_s : '$0' %></td>
          <td><%= offer.batch.expired? ? "Batch expired" : offer.batch.time_remaining %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= link_to 'Edit', edit_wholesaler_path(@wholesaler) %> |
<%= link_to 'Back', wholesalers_path %>
