<p id="notice"><%= notice %></p>

<h1>Offers</h1>

<table>
  <thead>
    <tr>
      <th>Batch</th>
      <th>Wholesaler</th>
      <th>Amount</th>
      <th>Accepted</th>
      <th>Ignored</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.batch %></td>
        <td><%= offer.wholesaler %></td>
        <td><%= offer.amount %></td>
        <td><%= offer.accepted %></td>
        <td><%= offer.ignored %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% #link_to 'New Offer', new_offer_path %>
