<div id="wrapper">
  <div id="first">
    <h2> Wholesalers</h2>
    <table>
      <thead>
      <tr>
        <th> Wholesaler </th>
        <th> Distance (km) </th>
        <th> Add</th>
      </tr>
      </thead>
      <tbody>
      <% @unselected_wholesalers.each do |wholesaler| %>
          <tr>
            <td><%=wholesaler.name %></td>
            <td><%= @batch.wholesaler_distance(wholesaler).round(1) %></td>
            <td><%= button_to '+', action: :create, params: {:offer => {:batch_id => @batch.id, :wholesaler_id => wholesaler.id, amount: 0}} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div id="second">
    <h2>Selected Wholesalers</h2>
    <table>
      <thead>
      <tr>
        <th> Wholesaler </th>
        <th> Distance (km) </th>
        <th> Remove</th>
      </tr>
      </thead>
      <tbody>
      <% @selected_wholesalers.each do |wholesaler| %>
      <% @offer = @batch.offers.find_by(wholesaler_id: wholesaler.id) %>
          <tr>
            <td><%=wholesaler.name %></td>
            <td><%= @batch.wholesaler_distance(wholesaler).round(1) %></td>
            <td><%= button_to '-', manufacturer_batch_offer_path(@manufacturer, @batch, @offer), method: :delete, data: { wholesaler_id: wholesaler.id, confirm: 'Are you sure?' } %></td>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= link_to 'Back', manufacturer_batches_path(@manufacturer) %>

