<p id="notice"><%= notice %></p>

<p>
  <strong>Manufacturer:</strong>
  <%= @batch.manufacturer.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @batch.quantity %>
</p>

<p>
  <strong>Fabric:</strong>
  <%= @batch.fabric %>
</p>

<p>
  <strong>Color:</strong>
  <%= @batch.color %>
</p>
 <%#show all offers on this batch
 wholesaler name  amount updated at%>
<h2>Offers</h2>
<table>
<thead>
  <tr>
    <th> Wholesaler</th>
    <th> Amount</th>
    <th> Date Updated</th>
  </tr>
</thead>
 <tbody>
    <% @batch.offers.each do |batch_offer| %>
        <tr>
        <td><%= batch_offer.wholesaler.name %></td>
        <td> <%= batch_offer.amount%>
        <td><%= batch_offer.updated_at.to_date%></td>
      </tr>
      <%end%>
  </tbody>
</table>


<%= link_to 'Edit', edit_manufacturer_batch_path(@batch) %> |
<%= link_to 'Back',   manufacturer_batches_path(@manufacturer) %>
<%= link_to 'Send Batch to Wholesalers', new_manufacturer_batch_offer_path(@manufacturer, @batch) %>

