<p id="notice"><%= notice %></p>

<p>
  <strong>Manufacturer:</strong>
  <%= @batch.manufacturer.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @batch.quantity %>
</p>

<p>
  <strong>Fabric:</strong>
  <%= @batch.fabric %>
</p>

<p>
  <strong>Color:</strong>
  <%= @batch.color %>
</p>

<%= link_to 'Edit', edit_manufacturer_batch_path(@batch) %> |
<%= link_to 'Back', manufacturer_batches_path(@manufacturer) %>
<%= link_to 'Send Batch to Wholesalers', new_manufacturer_batch_offer_path(@manufacturer, @batch) %>

