
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @manufacturer.name %>
</p>
<div>

<h2>Active Batches</h2>
<% unless @manufacturer.batches.empty? %>
  <table>

  <thead>
  <tr>
    <th> Description</th>
    <th> Current highest </th>
    <th> Expiry </th>
  </tr>
  </thead>
  <tbody>
    <% @manufacturer.batches.each do |batch| %>
        <% if !batch.expired? %>
      <tr>
        <td><%= link_to batch.description, manufacturer_batch_path(batch.manufacturer, batch) %></td>
        <td>
          <%if batch.highest_current_offer && batch.highest_current_offer.amount > 0 %>
            $<%= batch.highest_current_offer.amount %> - <%= batch.highest_current_offer.wholesaler.name%>
          <%else%>
            There are no current offers for this batch.
          <%end%>
        </td>
        <td><%= batch.time_remaining %></td>
      </tr>
    <%end%>
  <%end%>
  </tbody>
 </table>
<%end%>
</div>
<div>
<h2> Expired Batches</h2>
<table>
<thead>
<tr>
  <th> Description</th>
  <th> Winner</th>
  <th> Amount</th>
  <th> Date Completed </th>
  </tr>
  </thead>
  <tbody>
  <% @manufacturer.batches.each do |batch| %>
    <% if batch.expired? %>
       <tr>
       <td><%= batch.description %></td>
       <td><%= batch.accepted_offer.name %></td>
       <td><%= batch.accepted_offer.amount %></td>
       <td><%= "It was completed on this day"%></td>
       </tr>
    <% end %>
  <%end%>
   </tbody>
</table>
</div>
<br>
<%# need to make two tables 1 is for active batches- 2nd is for expired batches%>

<%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %> |
<%= link_to 'Back', manufacturers_path %> |
<%= link_to 'Delete', @manufacturer, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'New Batch', new_manufacturer_batch_path(@manufacturer) %>
