<!DOCTYPE html>
<html>
  <head>
    <title>Teemarket</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class="hat">
      <%= link_to "Manufacturers", manufacturers_path %>
      <%= link_to "Batches", batches_path %>
      <%= link_to "Wholesalers", wholesalers_path %>
    </div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
